<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">
  Add User
</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form (submit)="onSubmit($event)">
    <div class="form-grup mb-3">
      <label>Frist Name</label>

      <input
        type="text"
        [(ngModel)]="user.firstName"
        class="form-control"
        name="firstName"
      />
    </div>
    <div class="form-group mb-3">
      <label>Last Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.lastName"
        name="lastName"
      />
    </div>
    <div class="form-group mb-3">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.email"
        name="age"
      />
    </div>
  </form>
  <div class="d-grid mt-4">
    <button
      [disabled]="user.firstName == '' || user.lastName == ''"
      class="btn btn-lg btn-light mb-3"
    >
      Add New User
    </button>
  </div>
</div>
<ul class="list-unstyled" *ngIf="loaded && users.length > 0">
  <li
    class="card card-body mb-3"
    *ngFor="let user of users"
    [class.bg-light]="user.isActive"
  >
    <h3>
      {{ user.firstName }} {{ user.lastName }}
      <small>
        <button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm">
          <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button
      ></small>
    </h3>

    <ul class="list-group" *ngIf="!user.hide">
      <li class="list-group-item">Email: {{ user.email }}</li>
      <li class="list-group-item">
        Joined: {{ user.registered | date: "d/m/y" }}
      </li>
    </ul>
  </li>
</ul>

<h4 *ngIf="users.length <= 0 && loaded">No Users Found</h4>
<h4 *ngIf="!loaded">Loading Users.....</h4>
