<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">
  Add User
</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form (submit)="onSubmit($event)">
    <div class="form-grup mb-3">
      <label>Frist Name</label>

      <input
        type="text"
        [(ngModel)]="user.firstName"
        class="form-control"
        name="firstName"
        (blur)="fireEvent($event)"
      />
    </div>

    <div class="form-group mb-3">
      <label>Last Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.lastName"
        name="lastName"
      />
    </div>
    <div class="form-group mb-3">
      <label>Age</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="user.age"
        name="age"
      />
    </div>
    <div class="form-group mb-3">
      <label>Street Address</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.address.street"
        name="street"
      />
    </div>
    <div class="form-group mb-3">
      <label>City</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.address.city"
        name="city"
      />
    </div>
    <div class="form-group mb-3">
      <label>State</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.address.state"
        name="state"
      />
    </div>
  </form>
  <div class="d-grid mt-4">
    <button
      (click)="
        addUser({ firstName: 'Mary', lastName: 'Jackson', isActive: true })
      "
      [disabled]="!enableAdd"
      class="btn btn-lg btn-light mb-3"
    >
      Add New User
    </button>
  </div>
</div>
<ul class="list-unstyled" *ngIf="loaded && users.length > 0">
  <li
    class="card card-body mb-3"
    *ngFor="let user of users"
    [class.bg-light]="user.isActive"
  >
    <h3>
      {{ user.firstName }} {{ user.lastName }}
      <small *ngIf="user.age && user.address">
        <button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm">
          <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button
      ></small>
    </h3>

    <ul class="list-group" *ngIf="!user.hide && user.age && user.address">
      <li class="list-group-item">Age: {{ user.age }}</li>
      <li class="list-group-item">
        Address: {{ user.address.street }} {{ user.address.city }}
        {{ user.address.state }}
      </li>

      <li class="list-group-item">
        Joined: {{ user.registered | date: "d/m/y" }}
      </li>
    </ul>
  </li>
</ul>

<h4 *ngIf="users.length <= 0 && loaded">No Users Found</h4>
<h4 *ngIf="!loaded">Loading Users.....</h4>
